.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: large;
}

.headingWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 16px;
    margin: 16px;
}

.heading {
    color: #f59e0b;
    font-size: 1.5rem;
    font-weight: 600;
}


.templateWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.templatesImg {
    background-color: #030712;
    padding: 16px;
    margin: 16px;
    border-radius: 3%;
}

.templatesImg:hover {
    cursor: pointer;
}