.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: large;
    padding: 16px;
    position: sticky;
    top: 0;
}

.logo {
    font-size: large;
    color: #f59e0b;
}

.logoImg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-decoration: none;
}


.navLinksGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navEachLink {
    font-size: large;
    margin-right: 1rem;
    color: #65a30d;
    text-decoration: none;
}

.navEachLink:hover {
    color: #a3e635;
}



@media (min-width: 768px) {
    .navEachLink {
        margin-right: 3rem;
    }
}